<div class="container mt-5 mb-5">
	<h1 class="text-center">About</h1>
	<p align="justify">
		It’s not just our fresh, quality products that keep our customers satisfied; it’s also our commitment to exceptional customer service. We treat all of our accounts as individual partnerships–working with each of them to provide their customers with a variety of products, yet we are still able to deliver the same great taste they expect.<br><br>
        We love what we do. We are passionate about cooking. And, after 30 years, we still come to work every day excited to walk into the kitchen and soak in the amazing aromas, and tastes, that make baking so wonderful.
	</p>
</div>